/* About.css */

.textblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9dfbb;
  padding-top: 10rem;
}

.textblock-container-a,
.textblock-container-b {
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
}

.textblock-title-a,
.textblock-title-b {
  font-size: 6rem;
  font-weight: 900;
  color: #1c4732;
  margin: 0;
}

.textblock-content-a,
.textblock-content-b {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #161718;
  text-align: justify;
}
