.Wtextblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9dfbb;
  height: 100vh;
  width: 100vw;
}

ol {
  padding: 0;
  list-style-position: inside;
}

.Wcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  box-sizing: border-box;
  padding: 1.25rem;
}

.Wtitle {
  font-weight: 900;
  margin-top: 10vh;
  color: #1c4732;
  font-size: 4.5rem;
  text-align: center;
}

.Wcontent {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.4rem;
  max-width: 100vw;
  color: #161718;
  font-weight: 500;
}

.Steps {
  margin-bottom: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .Wtextblock {
    background-color: #c9fede;
  }
  .Wtitle {
    font-size: 2rem;
  }

  .Wcontent {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .Wtextblock {
    background-color: #c9fede;
  }
  .Wtitle {
    font-size: 1.5rem;
  }

  .Wcontent {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 280px) {
  .Wtextblock {
    height: 100vh;
  }

  .Wcontainer {
    max-width: 100vh;
  }

  .Wtitle {
    font-size: 1.4rem;
    margin-top: 5vh;
  }

  .Wcontent {
    margin-top: 0;
    font-size: 0.7rem;
  }
}
