.Wtextblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9dfbb;
  height: 100vh;
  width: 100%;
}

ol {
  padding: 0; /* Adjusted padding */
  list-style-position: inside; /* Improved list style */
}

.Wcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  box-sizing: border-box;
  padding: 20px; /* Added padding */
}

.Wtitle {
  font-weight: 900;
  margin-top: 10vh;
  color: #1c4732;
  font-size: 4.5rem;
  text-align: center;
}

.Wcontent {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.4rem;
  max-width: 100%;
  color: #161718;
  font-weight: 500;
}

.Steps {
  margin-bottom: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .Wtextblock {
    background-color: #c9fede;
  }
  .Wtitle {
    font-size: 2rem;
  }

  .Wcontent {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .Wtextblock {
    background-color: #c9fede;
  }
  .Wtitle {
    font-size: 1.5rem;
  }

  .Wcontent {
    font-size: 0.8rem;
  }
}
