@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

nav {
  top: 2%;
  left: 2%;
  right: 2%;
  z-index: 2;
  position: fixed;
  background-color: #937e02;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vh;
  width: 92%;
  border-radius: 4vh;
  font-family: "Poppins", sans-serif;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2vh;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 1vh;
}
.get-app-btn {
  background-color: green;
  padding: 1.5vh 2vh;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 1.5vh;
  font-weight: 600;
}
