@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

#root {
  max-width: 1280px;
  text-align: center;
}

/*     ABOUT PAGE          */

.container {
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  height: 100vh;
}

.textblock {
  background-color: #f9dfbb;
  height: 100%;
  width: 100%;
  padding: 10px 0;
}

.textblock-container-a {
  max-width: 800px;
  margin: 0 5%;
  text-align: left;
}

.textblock-container-b {
  max-width: 950px;
  margin: 0 5%;
  margin-left: auto;
  text-align: right;
}

.textblock-title-a {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #1c4732;
}

.textblock-title-b {
  margin-top: 150px;
  font-size: 4rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #1c4732;
}

.textblock-content-a {
  margin-bottom: 150px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
}

.textblock-content-b {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
}

/*     PARALLAX       */

.top {
  margin: 0;
  position: relative;
  width: 100%;
  height: 300px;
  opacity: 1;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 8rem;
  color: black;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.highlight {
  color: green;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation_layer {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#background {
  background-image: url(./assets/Background.svg);
}

#clouds {
  background-image: url(./assets/Clouds.svg);
}

#sun {
  background-image: url(./assets/Sun.svg);
}

#backfield {
  background-image: url(./assets/Backfield.svg);
}

#mountain {
  background-image: url(./assets/Mountains.svg);
}

#farmer {
  background-image: url(./assets/Farmer.svg);
}

#corn {
  background-image: url(./assets/Corn.svg);
}

#frontfield {
  background-image: url(./assets/Frontfield.svg);
}

/*     WORKING      */

/*     FAQ      */
